# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
Space-Invadus/bin/Release/*.exe
Space-Invadus/bin/Debug/*.exe
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
Space-Invadus/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
Space-Invadus/*.exe
Space-Invadus/obj/Release/*.o
Space-Invadus/obj/Debug/*.o
*.out
*.app

# CodeBlocks
*.cbp
*.depend
*.layout

# Resources
*.lnk
Space-Invadus/Dev/*.txt
*.ogg
*.ttf
*.bmp
*.png
*.xlsx
*.sc

